{% extends "basic.html" %}
{% block title %}
Now at hackerspace
{% endblock %}
{% block content %}
  <h2>Now at hackerspace!</h2>
  <p>
    {% if users|length > 0 %}
    It looks like someone is
    {% else %}
    It doesn't look like anyone
    {% endif %}
    is in the <a href="http://www.hackerspace.pl">hackerspace</a>.
    This is because there are {{ users|length }} active DHCP
    leases on the network.
  </p>
  <table>
    <tr><th>Name</th><th>Leased since</th></tr>
    {% for user, hwaddr, ip, timestamp in users %}
    <tr>
      <td>
        {% if user %}
        {% if user.url %}
        <a href="{{ user.url }}">{{ user.login }} ({{ timestamp }})</a>
        {% else %}
        {{ user.login }} ({{ timestamp }})
        {% endif %}
        {% else %}
        <small>Unknown person</small>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <p>Are you one of the unknown users? <a href="claim">Claim your device!</a></p>
{% endblock %}
